@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&family=Dela+Gothic+One&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Orbitron&family=Poppins&family=Quintessential&display=swap");

* {
  /* font-family: "BIZ UDPGothic", sans-serif;
  font-family: "Dela Gothic One", cursive; */

  font-family: 'Poppins', sans-serif;
}

.active {
  color: #0080ff !important;
}

.page-bg {
  background-image: url("./assets/images/paws_bg.png") !important;
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  z-index: 1 !important;
  /* position: fixed;
  overflow-y: scroll; */
}

.zi-10 {
  z-index: 100 !important;
}

/* border-2 border-blue-500 p-2 rounded shadow-md */
