@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&family=Dela+Gothic+One&display=swap");

/* * {
  font-family: "BIZ UDPGothic", sans-serif;
  font-family: "Dela Gothic One", cursive;
} */


.active {
  color: #0080FF !important;
}



/* border-2 border-blue-500 p-2 rounded shadow-md */